.action-box {
  min-width: 20rem;
  min-height: 10rem;
  margin-bottom: 1rem;
  background: #f7f7f7;
  border-radius: 2rem;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  cursor: pointer;

  @include phone {
    max-width: 20rem;
    max-height: 10rem;
  }

  & > * {
    pointer-events: none;
  }

  &_scroll {
    min-height: 4rem;
    border-radius: 2rem 2rem 0 0;
    flex-grow: 0;
    align-self: flex-end;
    margin-bottom: 0;
    text-align: center;
    line-height: 4rem;
  }

  &:hover {
    background: #ffffff;
    box-shadow: 0 0.2rem 0.6rem 0 rgba(197, 186, 186, 0.5);
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;

    &_scroll {
      width: 1.6rem;
      height: 1.6rem;
      margin-bottom: -0.5rem;
    }
  }

  &__action {
    letter-spacing: 0;
    font-size: 1.4rem;
    font-weight: bolder;

    & > *:not(:only-child):first-child {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__subscript {
    display: block;
    font-family: ArialMT;
    font-size: 1.2rem;
    color: #858585;
    letter-spacing: 0;
    font-weight: normal;
    margin-top: 0.5rem;
  }
}
