@mixin track($gradient, $width, $height) {
  /* common styles */
  background-image: $gradient; // linear-gradient(to left, #ff9e00, #ffe682 100%);
  width: $width; // 580px;
  height: $height; // 60px;
  border-radius: 60px;
}

@mixin thumb($width, $height) {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  // margin-top: -2px;
  border: 4px solid white;
  box-shadow: 0px 0px 0 4px rgba(#333333, 0.1) inset;
}

@mixin vertical($width, $height) {
  width: $height;
  height: $width;
  & > input[type="range"] {
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);
  }
  &::before,
  &::after {
    height: 60px;
    width: 60px;
    text-align: center;
  }
  &::before {
    left: 0px;
    top: calc($width - 60px);
    line-height: 60px;
    z-index: 1;
  }
  &::after {
    right: 0px;
    top: 0px;
    line-height: 69px;
  }
  &.range-slider_sun {
    &::before {
      transform: scale(0.6) translateY(-12%);
    }
    &::after {
      transform: scale(0.6) translateY(12%);
    }
  }
}

.test {
  width: 300px;
  height: 300px;
  background-color: grey;
}

/* *
 * IE */
.range-slider {
  $width: 100%;
  $height: 60px;
  $gradient: linear-gradient(to left, #ff9e00, #ffe682 100%);
  $gradient_rainbow: linear-gradient(
    90deg,
    #068fff 0%,
    #ffd800 50%,
    #f76b1c 100%
  );
  display: inline-block;
  position: relative;
  height: $height;
  width: 300px;
  input[type="range"] {
    -webkit-appearance: none;
    width: inherit;
    user-select: none;
    margin: 0;
    padding: 0;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    @include track($gradient, $width, $height);
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    @include thumb($height, $height);
  }
  input[type="range"]::-moz-range-thumb {
    @include thumb($height, $height);
  }
  input[type="range"]::-moz-range-track {
    @include track($gradient, $width, $height);
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: $height;
    cursor: pointer;
    background-image: $gradient;
    border: 0px solid transparent;
    border-radius: 35px;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower,
  input[type="range"]::-ms-fill-upper {
    background-color: transparent;
  }
  input[type="range"]::-ms-thumb {
    height: $height;
    width: $height;
    border-radius: $height;
    background: transparent;
    cursor: pointer;
    border: 5px solid white;
    margin-top: 1px;
    box-shadow: 0px 0px 0 4px rgba(#333333, 0.1) inset;
  }
  input[type="range"]:focus::-ms-fill-lower,
  input[type="range"]:focus::-ms-fill-upper {
    background-color: transparent;
  }
  // hide the tooltip in IE
  input[type="range"]::-ms-tooltip {
    display: none;
  }
  &::before,
  &::after {
    position: absolute;
    font-size: 18px;
    pointer-events: none;
    color: #ffffff;
    letter-spacing: 0;
    text-align: left;
    top: calc(50% - 8px);
  }
  &::before {
    left: 20px;
    content: attr(data-range-min);
  }
  &::after {
    right: 20px;
    content: attr(data-range-max);
  }
  &_rainbow > input[type="range"] {
    &::-webkit-slider-runnable-track {
      background-image: $gradient_rainbow;
    }
    &::-moz-range-track {
      background-image: $gradient_rainbow;
    }
    &::-ms-track {
      background-image: $gradient_rainbow;
    }
  }
  &_sun {
    &::before,
    &::after {
      content: "";
      background-image: url(../assets/images/icon_sun_3.svg);
      background-size: 36px 36px;
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;
      top: 12px;
    }
    &::before {
      background-image: url(../assets/images/icon_sun_4.svg);
      left: 12px;
    }
    &::after {
      right: 12px;
    }
  }
  &_vertical {
    // @include vertical($width, $height);
    transform: rotate(-90deg);
    &::before,
    &::after {
      transform: rotate(90deg);
    }
  }
  @include phone {
    // @include vertical($width, $height);
    transform: rotate(-90deg);
    &::before,
    &::after {
      transform: rotate(90deg);
    }
  }
}
