@import "../mixins";

.widget {
  flex: 0 0 50%;
  width: 50%;
  margin-bottom: 2rem;

  @include Firefox {
    flex: 1 0 45%;
  }

  @include phone {
    flex: 1 0 100%;
    margin-bottom: 4rem;
  }

  &__header {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: bolder;
  }

  &__scroll {
    cursor: default;
    user-select: none;

    @include phone {
      display: none;
    }

    &_left,
    &_right {
      width: 1.3rem;
      height: 0.8rem;
      cursor: pointer;
    }
    &_left {
      transform: rotate(90deg);
      margin-right: 2rem;
    }
    &_right {
      transform: rotate(-90deg);
    }
    &_disabled {
      opacity: 0.3;
      cursor: default;
    }
  }
}

.widget-scenarios {
  &__content {
    overflow-x: hidden;
    min-height: 33rem;

    @include phone {
      overflow-x: auto;
      min-height: 0rem;
      width: calc(100vw - 3rem);
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.widget-appliances {
  flex: 1 0 auto;

  &__content {
    display: flex;
    width: calc(100vw - 3rem);
    overflow: hidden;

    @include phone {
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__appliance {
    max-width: 20rem;
    flex: 0 0 auto;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.widget-main {
  margin-right: 1rem;
  margin-bottom: 2rem;

  @include phone {
    margin-right: 0rem;
    width: calc(100vw - 6rem);
  }

  &__container {
    @include phone {
      margin-top: -3rem;
    }
  }

  &__info-wrapper {
    width: 100%;
    min-height: 33rem;
  }

  &__header {
    @include phone {
      display: none;
    }
  }

  &__info {
    display: flex;
    min-height: 33rem;
    @include imgRetina("../assets/images/bg", "png");
    // background-image: url(../assets/images/bg@1x.png);
    // background-size: cover;
    // background-repeat: no-repeat;
    border-radius: 2rem;

    @include phone {
      flex-flow: column nowrap;
    }

    @include Firefox {
      overflow: hidden;
    }
  }

  &__column {
    display: inline-block;

    &_left {
      flex: 10 0 auto;
      padding: 2rem 3rem;
    }

    &_right {
      position: relative;
      flex: 1 1 auto;
      height: 33rem;
      padding: 2rem 2rem 0 0;
      display: flex;
      flex-flow: column nowrap;
      min-height: inherit;
      justify-content: space-between;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;

      @include Firefox {
        overflow-x: hidden;
        margin-right: -1.6rem;
      }

      @include phone {
        flex-flow: row nowrap;
        height: 13rem;
        min-height: 12rem;
        padding: 0;
        margin-bottom: 1rem;
      }
    }
  }

  &__action-box {
    @include phone {
      margin-bottom: 0;
      margin-right: 1rem;
      margin-left: 1rem;

      &:first-child {
        margin-left: 2rem;
      }
    }
  }

  &__scroll-indicator {
    position: absolute;
    background-color: #f7f7f7;
    bottom: 0;
    left: 0;
    width: calc(100% - 2rem);
    min-height: 5rem;
    border-radius: 2rem 2rem 0 0;
    flex-grow: 0;
    pointer-events: none;
    margin-bottom: 0;
    text-align: -webkit-center;
    text-align: center;
    line-height: 5rem;

    opacity: 1;

    transition: opacity ease 0.25s;

    &--hidden {
      opacity: 0;
    }

    @include phone {
      display: none;
    }
  }

  &__greeting {
    display: block;
    font-size: 2.7rem;
    font-weight: bolder;
    margin-bottom: 1rem;

    @include phone {
      font-size: 1.8rem;
    }
  }

  &__status {
    display: block;
    font-family: Arial;
    font-size: 1.4rem;
    margin-bottom: 2rem;

    @include phone {
      font-size: 1.2rem;
    }
  }

  &__weather {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1rem;
    }

    &-location {
      display: block;
      font-family: Arial;
      font-size: 1.4rem;
      color: #858585;

      @include phone {
        font-size: 1.2rem;
      }
    }

    &-temperature {
      font-family: Arial;
      font-weight: bolder;
      font-size: 3.6rem;
      letter-spacing: 0;
      @include phone {
        font-size: 2.4rem;
      }
    }

    &-icon {
      width: 2.6rem;
      height: 2.6rem;
      @include phone {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
}
