.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-size: cover;
  background-repeat: no-repeat;

  &_dbl-arrow {
    background-image: url(../assets/images/dbl-arrow.svg);
  }

  &_temperature,
  &[device-type="temperature"],
  &[device-type="cooling"] {
    background-image: url(../assets/images/icon_temperature.svg);
  }

  &_temperature--active,
  &[device-type="temperature"][device-active="active"],
  &[device-type="cooling"][device-active="active"] {
    background-image: url(../assets/images/icon_temperature_2.svg);
  }

  &_sun,
  &[device-type="brightness"] {
    background-image: url(../assets/images/icon_sun.svg);
  }

  &_cloud {
    background-image: url(../assets/images/cloud-drizzle.svg);
  }

  &_arrow-left {
    background-image: url(../assets/images/arrow_left.svg);
    width: 2rem;
    height: 1.2rem;
    transform: rotate(90deg);
  }

  &_arrow-right {
    @extend .icon_arrow-left;
    transform: rotate(-90deg);
  }
}
