@import "./mixins";
@import "./vars";

.frozen {
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.spacer {
  flex-grow: 1000;
}

body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: contain;
}

#page-wrapper {
  min-width: 133rem;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: calc(#{$footerHeight} + 2rem);
  filter: blur(0px);
  transition: 0.3s -webkit-filter linear;

  display: flex;
  flex-flow: column nowrap;

  @include phone {
    display: block;
    min-width: 0rem;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: absolute;
  }

  @include tablet {
    display: block;
    min-width: 0rem;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: absolute;
  }

  &.blurred {
    filter: blur(2px);
  }
}

.header {
  flex-grow: 0;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #f0f0f0;
  z-index: 1;

  @include phone {
    padding: 2rem 3rem;
    justify-content: space-between;
    border-bottom: none;
    max-height: $maxHeaderHeightMobileDevices;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__logo {
    margin-right: 3rem;
    height: 2.7rem;
    width: auto;
  }
}

.content {
  flex-grow: 1;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: $contentPadding;

  @include phone {
    margin-top: $maxHeaderHeightMobileDevices;
    overflow-y: scroll;
    height: calc(100vh - #{$maxHeaderHeightMobileDevices});

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include tablet {
    margin-top: 0;
    overflow-y: scroll;
    height: calc(100vh - #{$maxHeaderHeightMobileDevices});

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 6.4rem;
  width: 100%;
  background-color: white;
  padding: 0 $contentPadding;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: #858585;

  @include phone {
    position: relative;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: space-around;
    height: auto;
    padding: 0;
  }

  @include tablet {
    position: relative;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: space-around;
    height: auto;
    padding: 0;
  }

  &__menu {
    display: flex;

    @include phone {
      flex-flow: column nowrap;
      flex-grow: 1;
    }
  }

  &__menu-item {
    &:not(:last-child) {
      margin-right: 2rem;
      @include phone {
        margin-bottom: 1rem;
      }
    }

    &:hover {
      border-bottom: 1px solid #858585;
    }
  }

  &__copyright {
    @include phone {
      margin-top: 3rem;
    }

    @include tablet {
      margin-top: 3rem;
    }
  }
}

.page-wrapper {
  white-space: nowrap;
}

.page {
  &__container {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    transform: translateX(0);
    transition: transform ease 0.5s;
  }

  &__content {
    flex: 0 0 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    @include phone {
      justify-content: flex-start;
      margin-right: 1rem;
    }

    &:after {
      content: "";
      flex: 1 0 0%;
    }

    @include phone {
      flex-wrap: nowrap;
    }
  }

  &__item {
    flex-basis: calc(100% / 3 - 1rem);
    margin-bottom: 1.5rem !important;
    &:not(:nth-child(3n + 3)) {
      margin-right: calc(3rem / 2);
    }

    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      margin-bottom: 0 !important;
    }

    @include phone {
      margin-right: 1rem !important;
    }

    // IE sucks
    @include IE {
      flex-basis: calc(100% / 3 - 5rem);
    }

    // So does Edge
    @include Edge {
      flex-basis: calc(100% / 3 - 1.1rem);
    }
  }
}
