@import "./mixins";

.frozen {
  overflow: hidden;
  height: 100%;
}

#page-wrapper {
  min-width: 133rem;
  height: 100vh;
  margin: 0 auto;
  filter: blur(0px);
  transition: 0.3s -webkit-filter linear;

  &.blurred {
    filter: blur(2px);
  }

  @include phone {
    min-width: 0rem;
    width: 100vw;
    height: unset;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
  }
}

.header {
  padding: 3rem 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #f0f0f0;

  @include phone {
    padding: 2rem 3rem;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 3rem;
  }
}

.content {
  display: flex;
  flex-flow: row wrap;
  padding: 3rem 3rem;
}

.page-wrapper {
  white-space: nowrap;
}

.page {
  &__container {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    transform: translateX(0);
    transition: transform ease 0.5s;
  }

  &__content {
    flex: 0 0 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @include phone {
      justify-content: flex-start;
      margin-right: 1rem;
    }

    &:after {
      content: "";
      flex: 1 0 0%;
    }

    @include phone {
      flex-wrap: nowrap;
    }
  }

  &__item {
    flex-basis: calc(100% / 3 - 1rem);
    &:not(:nth-child(3n + 3)) {
      margin-right: calc(3rem / 2);
    }

    @include phone {
      margin-right: 1rem !important;
    }

    // IE sucks
    @include IE {
      flex-basis: calc(100% / 3 - 5rem);
    }

    // So does Edge
    @include Edge {
      flex-basis: calc(100% / 3 - 1.1rem);
    }
  }
}
