.header {
  padding: 3rem 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #f0f0f0;

  &__logo {
    margin-right: 3rem;
  }
}

.content {
  display: flex;
  flex-flow: row wrap;
  padding: 3rem 3rem;
}
