@import "vars";

.menu {
  display: flex;
  font-size: 1.6rem;

  @include phone {
    display: none;
  }

  &__item {
    color: inherit;
    margin: 0 1rem;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity ease 0.25s;
    font-weight: bolder;

    &:hover {
      opacity: 1;
    }

    &_active {
      opacity: 1;
      cursor: default;
    }
  }
}

.burger {
  width: 1.6rem;
  height: 0.2rem;
  position: relative;
  background-color: currentColor;
  border-radius: 1rem;
  float: right;
  margin-top: 0.4rem;

  display: none;
  @include phone {
    display: inline-block;
  }

  &::before,
  &::after {
    content: " ";
    width: 1.6rem;
    height: 0.2rem;
    position: absolute;
    top: -0.5rem;
    left: 0;
    background-color: currentColor;
    border-radius: 1rem;
    transition: transform ease 0.25s;
  }
  &::before {
    transform-origin: 0% 0%;
  }
  &::after {
    top: 0.5rem;
    transform-origin: 0% 100%;
  }

  &__menu {
    position: absolute;
    visibility: hidden;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-color: #333333;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    color: #fff;

    transition: all ease 0.25s;
  }

  &__menu-list {
    display: flex;
    flex-flow: column nowrap;
    font-size: 2.7rem;
  }

  &__menu-list-item {
    position: relative;
    margin: 2rem 3rem 2rem 0;
    transform: translateX(-500%);
    display: block;
    width: 25rem;

    &:first-child {
      margin-top: 0;
      transition: transform ease 0.1s 0.25s;
    }

    &:nth-child(2) {
      transition: transform ease 0.1s 0.35s;
    }

    &:nth-child(3) {
      transition: transform ease 0.1s 0.45s;
    }

    &:active {
      font-weight: bolder;
    }

    &_active {
      font-weight: bolder;
      &::after {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-color: white;
        position: absolute;
        top: 50%;
        right: -3rem;
        transform: translateY(-50%);
      }
    }
  }
}

#burger {
  position: relative;

  &:checked ~ :last-child {
    visibility: visible;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .burger__menu-list-item {
      transform: translateX(0);
    }
  }
  &:checked + div {
    background-color: transparent;
    z-index: 2;

    &::before {
      background-color: white;
      transform: rotate(45deg) translate(0.2rem, -0.3rem);
    }

    &::after {
      background-color: white;
      transform: rotate(-45deg) translate(0.2rem, 0.2rem);
    }
  }
}
