$phone-width-s: 320px;
$phone-width: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone-s {
  @media (max-width: #{$phone-width-s}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin IE {
  @media all and (-ms-high-contrast: none) {
    @content;
  }
}

@mixin Edge {
  @supports (-ms-ime-align: auto) {
    @content;
  }
}

@mixin Firefox {
  @supports (-moz-appearance: meterbar) {
    @content;
  }
}
