$phone-width-s: 320px;
$phone-width: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone-s {
  @media (max-width: #{$phone-width-s}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin IE {
  @media all and (-ms-high-contrast: none) {
    @content;
  }
}

@mixin Edge {
  @supports (-ms-ime-align: auto) {
    @content;
  }
}

@mixin Firefox {
  @supports (-moz-appearance: meterbar) {
    @content;
  }
}

/** 
 * Generates the image in either standard size or retina display version
 */
@mixin imgRetina(
  $image,
  $extension,
  $size: cover,
  $position: center,
  $repeat: no-repeat
) {
  background: url($image+"@1x"+"."+$extension) $repeat $position;
  background-size: $size;

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min--moz-device-pixel-ratio: 2),
    screen and (-moz-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background: url($image+"@2x"+"."+$extension) $repeat $position;
    background-size: $size;
  }
}
